nav {
    background-color: #6497B1;
    color: #F0F7F8;
    font-size: 2.2vw;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.nav-logo {
    margin-left: 5%;
    margin-right: 5%;
    width: 10%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo-link {
    cursor: default;
}

.nav-logo a {
    height: 5vw;
    width: 5vw;
    position: absolute;
}

.nav-logo-svg {
    z-index: 2;
    position: absolute;
    height: 5vw;
    width: 5vw;
}

.nav-logo-svg-circle {
    fill: transparent;
}

.nav-logo-svg-circle:hover {
    cursor: pointer;
}

.nav-logo .nav-logo-link img {
    height: 5vw;
}

.nav-name {
    text-align: center;
    width: 60%;
    /* border: 1px solid black; */
}

.nav-name a {
    text-decoration: none;
    color: #F0F7F8;
}

.nav-name a:hover {
    color: #B3CDE0;
}

.nav-name-animatie-in {
    animation: nav-name-animatie-in ease 1.5s forwards;
}

@keyframes nav-name-animatie-in {
    0% {
        opacity: 0;
    } 30% {
        opacity: 0;
    } 100% {
        opacity: 100%;
    }
}

.nav-name-animatie-out {
    animation: nav-name-animatie-out ease 0.5s forwards;
}

@keyframes nav-name-animatie-out {
    0% {
        opacity: 100%;
    } 100% {
        opacity: 0%;
    }
}

.nav-menu {
    margin-left: 5%;
    margin-right: 5%;
    z-index: 1;
    width: 10%;
    /* border: 1px solid black; */
}

.nav-menu-symbool {
    /* border: 1px solid black; */
    cursor: pointer;
    width: fit-content;
    margin: auto;
}

.streepje-1, .streepje-2, .streepje-3 {
    width: 2.5vw;
    height: 0.4vw;
    background-color: #F0F7F8;
    margin: 0.4vw 0 0.4vw 0;
}

.nav-menu-symbool:hover .streepje-1, .nav-menu-symbool:hover .streepje-2, .nav-menu-symbool:hover .streepje-3 {
    background-color: #B3CDE0;
}

.nav-menu-symbool-animatie-open .streepje-1 {
    animation: nav-menu-symbool-animatie-open-streepje-1 ease 1s forwards;
}

@keyframes nav-menu-symbool-animatie-open-streepje-1 {
    0% {
        transform: translate(0, 0) rotate(0);
    } 100% {
        transform: translate(0, 0.8vw) rotate(405deg);
    }
}
  
.nav-menu-symbool-animatie-open .streepje-2 {
    animation: nav-menu-symbool-animatie-open-streepje-2 ease 1s forwards;
}

@keyframes nav-menu-symbool-animatie-open-streepje-2 {
    0% {
        opacity: 100%;
    } 100% {
        opacity: 0;
    }
}
  
.nav-menu-symbool-animatie-open .streepje-3 {
    animation: nav-menu-symbool-animatie-open-streepje-3 ease 1s forwards;
}

@keyframes nav-menu-symbool-animatie-open-streepje-3 {
    0% {
        transform: translate(0, 0) rotate(0);
    } 100% {
        transform: translate(0, -0.8vw) rotate(-405deg);
    }
}

.nav-menu-symbool-animatie-close .streepje-1 {
    animation: nav-menu-symbool-animatie-close-streepje-1 ease 1s forwards;
}

@keyframes nav-menu-symbool-animatie-close-streepje-1 {
    0% {
        transform: translate(0, 0.8vw) rotate(405deg);
    } 100% {
        transform: translate(0, 0) rotate(0);
    }
}
  
.nav-menu-symbool-animatie-close .streepje-2 {
    animation: nav-menu-symbool-animatie-close-streepje-2 ease 1s forwards;
}

@keyframes nav-menu-symbool-animatie-close-streepje-2 {
    0% {
        opacity: 0;
    } 100% {
        opacity: 100%;
    }
}
  
.nav-menu-symbool-animatie-close .streepje-3 {
    animation: nav-menu-symbool-animatie-close-streepje-3 ease 1s forwards;
}

@keyframes nav-menu-symbool-animatie-close-streepje-3 {
    0% {
        transform: translate(0, -0.8vw) rotate(-405deg);
    } 100% {
        transform: translate(0, 0) rotate(0);
    }
}

.nav-links {
    width: 90%;
    font-size: 0;

    position: fixed;
    right: 10%;
    text-align: right;
    vertical-align: middle;

    /*overflow-x: hidden; */
    transition: 0.5s linear; 
}

.nav-links a {
    text-decoration: none;
    color: #F0F7F8;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #B3CDE0;
}

.nav-links .fake {
    color: #B3CDE0;
}

.nav-links .fake:hover {
    color: #B3CDE0;
}

.nav-links .active {
    color: #B3CDE0;
}

.nav-links .active:hover {
    color: #F0F7F8;
}
